.install-banner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f8f9fa;
    color: #343a40;
    z-index: 1050;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.install-banner.show {
    display: flex !important;
}

.install-text{
    color: #343a40 !important;
}

.install-banner button {
    margin-left: 10px;
}

#install-banner.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}
