{% extends "base.html" %}

{% block title %}LD Enoteca - Gestione Menù{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/menu_management.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.2/Sortable.min.js"></script>
{% endblock %}

{% block content %}


{% macro trova_rami(menu_id) %}
    <ul>
        {% for menu in menus %}
            {% if menu.parent_id == menu_id %}
            <li class="menu-item clickable">
                <span class="menu-name">{{ menu.name }}</span> (<span class="menu-id">{{ menu.id }}</span>)
                {{ trova_rami(menu.id) }}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

<div class="container-fluid">
    <div class="row">
        <!-- Pannello laterale sinistro -->
        <div class="col-md-3">
            <div class="panel">
                <section class="side-section">
                        <div class="panel">
                            <h1>Ruoli</h1>
                            <ul>
                                {% for role in roles %}
                                    <li>{{ role.name }} (Peso: {{ role.weight }})</li>
                                {% endfor %}
                            </ul>
                        </div>

                </section> <!-- Contenuto del pannello destro -->
            </div>
        </div>

        <!-- Sezione centrale -->
        <div class="col-md-6">
            <section class="central-section">
                <h1>Gestione Menu</h1>
                <ul>
                    {% for menu in menus %}
                        {% if menu.parent_id == None %}
                            <li class="menu-item clickable">
                                <span class="menu-name">{{ menu.name }}</span> (<span class="menu-id">{{ menu.id }}</span>)
                                {{ trova_rami(menu.id) }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
        </div>

        <!-- Pannello laterale destro -->
        <div class="col-md-3">
            <div class="panel">
                <section class="side-section">
                    <h1>Modifica Menu</h1>
                    <form method="POST" action="{{ url_for('settings.update_menu') }}">
                        <input type="hidden" id="menu_id" name="menu_id">
                        {% for field in menu_fields %}
                            <div class="form-group">
                                <label for="{{ field }}">{{ field|capitalize }}</label>
                                <input type="text" class="form-control" id="{{ field }}" name="{{ field }}" value="{{ menu[field] if menu else '' }}">
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn-enabled-custom">Salva</button>
                        <button type="button" class="btn-enabled-custom" id="cancelButton">Annulla</button>
                    </form>
                </section> <!-- Contenuto del pannello destro -->
            </div>
        </div>
    </div>
</div>
{% endblock %}