{% extends "base.html" %}
{% block title %}LD Enoteca - Bacheca ordini{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/kiosk_embed.css', v=app_version ~ '-engine1') }}">
{% endblock %}
{% block content %}
<section class="ld-page ld-page-standard ld-page-viewport kiosk-embed-page">
  <div class="kiosk-embed-wrap">
    <iframe class="kiosk-embed-iframe" src="{{ url_for('kiosk.kiosk_board_all') }}" title="Bacheca ordini"></iframe>
  </div>
</section>
{% endblock %}
